<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <title>{{pageTitle}}</title>

  <!-- SEO meta tags -->
  <meta name="description" content="{{pageDescription}}">
  <meta name="keywords" content="{{pageKeywords}}}">
  <link rel="canonical" href="{{pageCanonical}}">
  <meta name="robots" content="{{pageRobots}}">
  <meta name="language" content="pt-br">

  <!-- Social media meta tags: Facebook, Twitter -->
  <link rel="icon" href="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  {{pageHeader}}
  {{pageContent}}
  {{pageFooter}}
</body>

</html>